full_image_figure.pptx
norwaymap.jpg
Capture.PNG
Figure4.pdf
Figure4_2.pdf
Figure4_3.pdf
Figure5.pdf
Map_studyarea.pptx
Map_studyarea_2.png
Map_studyarea_2.pptx
Map_studyarea_3.png
Map_studyarea_3.pptx
Norwaymap.png
Rplot.png
TimeSeries_CTcountsCRabundance_2.png
TimeSeries_LogCTcountsCRabundance.png
TimeSeries_LogCTcountsCRabundance_2.png
ggmap_hakoya.png
ggmap_porsanger.png
lm_haakoya_gr_mean.pdf
mapNorway_2.png
map_hakoya.png
map_pors_latlong.jpeg
map_porsanger.png
norwayMap_2.png
